@import '../common/styles/variables.scss';
@import '../common/styles/modifiers.scss';

.giftees {
	.giftee-list {	
		padding: 20px 40px;
		background-color: $real-white;
		box-shadow: 0px 0px 4px 2px rgba(10,9,10,0.28);
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 0px;
		.giftee {
			cursor: pointer;
			border: 1px solid $darker-green;
			border-radius: 15%;
			transition: border-color 0.3s;
			margin: 20px 15px;
			padding: 20px;
			float:left;
			width: 220px;
			height: 220px;
			background: $green;
			overflow: hidden;
			.giftee-image {
	            width: 120px;
			    height: 120px;
			    position: relative;
			    top: -20px;
			    left: -20px;
			    padding: 25px 20px;
		    	transition: all 0.2s ease-in;
				img {
		            width: 75px;
				    height: 75px;
				    position: relative;
				    top: -10px;
				    left: -10px;
				    border-radius: 50%;
				    border: $red solid 5px;
				}
			    &:hover {
			    	background: $darker-green;
			    }
			}
			.giftee-name {
	            position: relative;
			    top: -140px;
			    left: 100px;
			    width: 100px;
			    height: 110px;
			    font-weight: bolder;
			    font-size: 20px;
			    padding: 10px;
			    text-align: center;
		    	transition: all 0.2s ease-in;
			    &:hover {
			    	background: $darker-green;
			    }
			}
			.giftee-lace {
			    height: 220px;
			    width: 25px;
			    background: $red;
			    position: relative;
			    left: 75px;
			    top: -251px;
			    z-index: 9005;
			}
			.giftee-exchange {
		        color: $real-white;
			    font-weight: bolder;
			    position: relative;
			    top: -365px;
			    text-align: center;
			    background: $lighter-red;
			    width: 220px;
			    left: -21px;
			    @include shadows($darker-red, 1px);
		    	transition: all 0.2s ease-in;
			    z-index: 9006;
			    &:hover {
			    	@include shadows($darker-red, 5px);
			    }
			}
			.giftee-like {
				position: relative;
			    top: -365px;
			    left: -20px;
			    font-size: 40px;
			    padding: 15px 25px;
			    width: 120px;
		    	transition: all 0.2s ease-in;
			    &:hover {
			    	background: $darker-green;
			    }
			}
			.giftee-wish {
		        position: relative;
			    top: -455px;
			    left: 100px;
			    font-size: 40px;
			    padding: 15px 30px;
			    transition: all 0.2s ease-in;
			    &:hover {
			    	background: $darker-green;
			    }
			}
		}
	}
}