<template>
  <section class="au-animate giftees">
  		<h1 class="hand-written">
  			Giftees
  		</h1>

	  		<div class="vertical-space search">
				<input type="text" placeholder="filter giftees">
				<i class="fa fa-search"></i>
	  		</div>

	  		<ul class="some-vertical-space giftee-list row">
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
				<li>
					<div class="giftee">
						<div class="giftee-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
						</div>
						<div class="giftee-name">
							Anna Maria Crucitti
						</div>
						<div class="giftee-lace">
						</div>
						<div class="giftee-exchange">
							New Exchange
						</div>
						<div class="giftee-like">
							<i class="fa fa-heart"></i>
						</div>
						<div class="giftee-wish">
							<i class="fa fa-pencil-square-o"></i>
						</div>
					</div>
				</li>
			</ul>
  </section>
</template>