<template>
  <section class="au-animate invite">  	
  	<div class="row">
  		<div class="col-md-12">
			<h1 class="hand-written">
	  			Invite
	  		</h1>

	  		<div class="vertical-space invite-add">
				<input type="text" placeholder="enter your friends' email addresses to send them an invitation">
				<i class="fa fa-plus"></i>
	  		</div>

	  		<ul class="some-vertical-space invite-list row">
				<li>
					<div class="invite">
						<div class="invite-status">
							Not registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Anna Maria Crucitti
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span>
										user@name.co.uk
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="invite">
						<div class="invite-status registered">
							Registered
						</div>
						<div class="invite-image">
							<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png">
						</div>
						<div class="invite-info">
							<div class="invite-name">
								Victor Arbues Mallada
							</div>
							<ul class="invite-details">
								<li>
									<i class="fa fa-user"></i>
									<span>
										User name
									</span>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<span tile="painyjames@gmail.com">
										painyjames@gmail.com
									</span>
								</li>
								<li>
									<i class="fa fa-calendar"></i>
									<span>
										24/07/2016
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
  	</div>
  </section>
</template>