@import '../common/styles/variables.scss';
@import '../common/styles/modifiers.scss';

.invite {
	.invite-list {	
		padding: 20px 40px;
		background-color: $real-white;
		box-shadow: 0px 0px 4px 2px rgba(10,9,10,0.28);
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 0px;
		.invite {
			cursor: pointer;
			border: 5px solid transparent;
			border-radius: 15%;
			transition: border-color 0.3s;
			margin: 20px 15px;
			padding: 20px;
			float:left;
			width: 220px;
			height: 220px;
			overflow: hidden;
			.invite-status {
				transform: rotate(45deg);
			    background: $red;
			    text-align: center;
			    position: relative;
			    left: 60px;
			    top: 15px;
			    opacity: 0;
			    transition: all 0.3s ease-in;
			    z-index: 9000;	    
			    &.registered{
			    	background: $green;
			    }
			}
			.invite-image {
			    width: 0;
    			height: 0;
				img {
		            width: 80px;
				    height: 80px;
				    position: relative;
				    top: -30px;
				    left: -5px;
				    border-radius: 50%;
				    border: $red solid 5px;
				}
			}
			.invite-info {
			    .invite-name {
		            position: relative;
				    top: -35px;
				    left: 90px;
				    width: 50px;
				    font-weight: bolder;
				    color: $green;
				    font-size: 20px;
			    }
				.invite-details {
					color: $green;
					position: relative;
		    	    top: -35px;
    				left: -45px;   				
    				width: 800px;
				    li {
				    	margin-top: 5px;
					    i {
					    	width: 25px;
					    	font-size:20px;
					    }
					    span {
					    	text-align: right;
					    	font-size: 14px;
					    }
				    }				    
				}
			}
			&:hover {
				border-color: $green;
			    .invite-status {
			    	opacity: 1;
			    }
			}
		}
	}
}