<template>
  <section class="au-animate settings">
  	<div class="row">
  		<div class="col-md-12">
			<h1 class="hand-written">
	  			Profile
	  		</h1>
	  		<div class="profile vertical-space">
	  			<div class="profile-info">
	  				<div class="profile-details">
		  				<div class="profile-image">
		  					<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png" />
		  				</div>
		  				<div class="profile-name">
		  					<input placeholder="Your Name" value="Anna Maria Crucitti" />
		  				</div>
		  				<div class="profile-email">
		  					<i class="fa fa-envelope">
		  					</i>
		  					<input placeholder="your@emailaddress.here" value="asdf@qwer.com" />
		  				</div>
		  			</div>
	  				<div class="profile-description some-vertical-space">
	  					<h2 class="hand-written">
  							About me
	  					</h2>
	  					<div class="profile-notes">
	  						<span contenteditable="" class="hand-written" spellcheck="false">
							</span>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="profile-likes">
	  				<h2 class="hand-written">
	  					I Like
	  				</h2>
	  				<div class="profile-like-categories">
	  					<ul>
	  						<li class="profile-like-category">
	  							<input id="makeup" type="checkbox">
	  							<label for="makeup">Make Up</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="videogames" type="checkbox">
	  							<label for="videogames">Video Games</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="t-shirts" type="checkbox">
	  							<label for="t-shirts">T-Shirts</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="movies" type="checkbox">
	  							<label for="movies">Movies</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="legos" type="checkbox">
	  							<label for="legos">Legos</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="clothing" type="checkbox">
	  							<label for="clothing">Clothing</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="food" type="checkbox">
	  							<label for="food">Food</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="candy" type="checkbox">
	  							<label for="candy">Candy</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="beverages" type="checkbox">
	  							<label for="beverages">Beverages</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="music" type="checkbox">
	  							<label for="music">Music</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="shoes" type="checkbox">
	  							<label for="shoes">Shoes</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="perfume" type="checkbox">
	  							<label for="perfume">Perfume</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="cards" type="checkbox">
	  							<label for="cards">Cards</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="sunglasses" type="checkbox">
	  							<label for="sunglasses">Sunglasses</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="geeky" type="checkbox">
	  							<label for="geeky">Geeky Stuff</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="purses" type="checkbox">
	  							<label for="purses">Purses</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="accesories" type="checkbox">
	  							<label for="accesories">Accesories</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="sports" type="checkbox">
	  							<label for="sports">Sports</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="hats" type="checkbox">
	  							<label for="hats">Hats</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="boardgames" type="checkbox">
	  							<label for="boardgames">Board Games</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="cooking" type="checkbox">
	  							<label for="cooking">Cooking</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="musicals" type="checkbox">
	  							<label for="musicals">Musicals</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="concerts" type="checkbox">
	  							<label for="concerts">Concerts</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="cosmetics" type="checkbox">
	  							<label for="cosmetics">Cosmetics</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="toys" type="checkbox">
	  							<label for="toys">Toys</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="tvseries" type="checkbox">
	  							<label for="tvseries">Tv Series</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="art" type="checkbox">
	  							<label for="art">Art</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="gardening" type="checkbox">
	  							<label for="gardening">Gardening</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="animals" type="checkbox">
	  							<label for="animals">Animals</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="diy" type="checkbox">
	  							<label for="diy">DIY</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="books" type="checkbox">
	  							<label for="books">Books</label>
	  						</li>
	  						<li class="profile-like-category">
	  							<input id="scifi" type="checkbox">
	  							<label for="scifi">Sci-fi</label>
	  						</li>
	  					</ul>
	  				</div>
	  			</div>
	  		</div>
		</div>
  	</div>
  </section>
</template>