@import '../common/styles/variables.scss';
@import '../common/styles/modifiers.scss';

.profile {
	height: 100%;
    width: 98%;
    background: $real-white;
    display: inline-block;
    padding: 40px;
    margin-left: 10px;
    @include shadows($darker-green, 13px);
	.profile-info {
		width: 50%;
		float: left;
		.profile-details
		{
			.profile-image {
				float: left;    
				margin-right: 50px;
				img {
				    width: 120px;
	    			height: 120px;
				}
			}
			.profile-name { 
			    padding: 10px;
			    display: inline-block;
		    	width: 65%;
			    font-size: 35px;
			    font-weight: bolder;
			    input {
			    	width: 100%;
			    	border: none;
			    	outline: none;
			    }
			    &:hover {
					box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
			    }
			}
			.profile-email { 
				padding: 20px;
			    width: 65%;
		        display: inline-block;
			    font-size: 25px;
				i {
					font-size: 40px;
					margin-right: 10px;
				}
			    input {
			    	width: 75%;
			    	border: none;
			    	outline: none;
			    }
			    &:hover {
					box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
			    }
			}
		}
		.profile-description {
			padding: 10px;
			width: 90%;
			.profile-notes {
			    background: repeating-linear-gradient(180deg, transparent, transparent 37px, #1abc9c 3px, #1abc9c 40px);
			    [contenteditable] {
		    	    background: transparent;
				    display: block;
				    position: relative;
				    top: 5px;
				    left: 10px;
				    width: 98%;
				    max-width: 98%;
			        height: 280px;
    				max-height: 280px;
				    line-height: 40px;
				    outline: none;
				    overflow: hidden;
				    font-size: 20px;
			    }
			}
		}
	}
	.profile-likes {  
		width: 50%;
		float: left;
	    h2 {
	    	z-index: 9000;
		    position: relative;
		    background: $real-white;
		    display: inline-block;
		    padding: 0 15px 0 5px;
	    }
		.profile-like-categories {
			width: 98%;
		    position: relative;
		    top: -30px;
		    border: 5px solid $green;
		    left: -20px;
		    border-radius: 20px;
		    padding: 20px 0;
			ul {				
			    padding: 0 20px;
    			display: inline-block; 
				.profile-like-category {
					float: left;
    				padding: 5px 10px 0px;
    				cursor: pointer;
    				border: 3px solid $green;
    				border-radius: 20px;
				    margin-right: 15px;
				    margin-top: 20px;
    				input[type="checkbox"] {
    					visibility: hidden;
    					&::before {
						    content: 'sa';
						    position: relative;
						    border: 3px solid $green;
						    color: transparent;
						    border-radius: 50%;
						    visibility: visible;
						    top: -3px;
						    left: -3px;
							background-color: transparent;
						    transformation: all 0.3s ease-in;
						    cursor: pointer;
    					}
    					&:checked {
    						&::before {
    							background-color: $green;
    							opacity: 0.85;
    						}
    					}
    				}
    				label {
    					cursor: pointer;
					    margin-left: 8px;
					    font-weight: bolder;
    				}
				}
			}
		}
	}
	* {		
		color: $green; 
	}
}