//Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

//Variables
@import './common/styles/variables.scss';

//Common scss
@import './common/styles/a.scss';
@import './common/styles/animations.scss';
@import './common/styles/body.scss';
@import './common/styles/div.scss';
@import './common/styles/h.scss';
@import './common/styles/li.scss';
@import './common/styles/modifiers.scss';
@import './common/styles/p.scss';

//Child scss'
@import 'nav-bar.scss';
@import 'menu-bar.scss';
@import 'welcome.scss';
@import './exchange/new.scss';
@import './exchange/ongoing.scss';
@import './user/invite.scss';
@import './user/giftees.scss';
@import './user/profile.scss';

//Components
@import './common/components/assignments-grid.scss';
@import './common/components/search.scss';
@import './common/components/exchange-list.scss';
@import './common/components/invite-add.scss';


@keyframes pageFadeIn {
    0% { z-index: 9000; opacity: 0; }
    100% { z-index: -1; opacity: 1; }
}
.au-animate
{
	animation: pageFadeIn 1.5s ease-in alternate;	
}

.page-host {
	position: absolute;
	margin: 0 50px 0 100px;
	width: 85%;
	top: 140px;
	height: 80%;
	overflow-x: hidden;
	overflow-y: auto;
  	z-index: -1;
	animation: pageFadeIn 0.5s ease-in alternate;	
	&::-webkit-scrollbar{
		display: none;
	}
}
