<template>	
  <require from="app.css"></require>
  <require from="nav-bar.html"></require>
  <require from="menu-bar.html"></require>
  <require from="npm:font-awesome@4.5.0/css/font-awesome.css"></require>

  <nav-bar router.bind="router"></nav-bar>
  <menu-bar router.bind="router"></menu-bar>

  <div class="page-host">
    <router-view></router-view>
  </div>
</template>
