@import './common/styles/variables.scss';
@import './common/styles/modifiers.scss';
@import './common/styles/a.scss';
@import './common/styles/animations.scss';

.menu {
	background-color: $lighter-red;	
	padding: 0;
	margin: 0 0;
	a {
		color: $white;
	}
	ul {	
	    clear:both;	
	    &.navbar-nav {	
			li {
			    font-size: 1.5em;
			    display: block;
			    width: 100%;
			    text-align: center;
				transition: all 0.3s;
				&:hover {
					background-color: $darker-red;
				}
				a {
					text-decoration: none;
				}
			}
	    }
	}	
}


@media (min-width: $break-large) {	
	.menu {
		position: fixed;
		display: inline-block;
		top: 0;
		left: 50px;
		height: 100%;
		padding: 7% 15px 0px;
		text-align: center;
		background-color: $lighter-red;
		color: $white;
		a {
			@include white-link;
			font-size: 1em;
			vertical-align: middle;
		}
		ul{
			padding: 0;
			li {
				margin-top: 75px;
			    padding: 10px;
				border: 5px transparent solid;
				border-radius: 100%;
				transition: width 1.3s, border 0.3s;
				&:hover {
					border-color: $white;			
					.submenu {
						display: block;					    
					    li{
							@include ribbon($lightest-red);
					        &:hover {
								@include ribbon($lighter-red);
					        }
					    }
					}
				}
				i {
					font-size: 2.5em;
					cursor: pointer;
				}
				.submenu {
					z-index: 10000;
					position:absolute;
					display: none;
				    margin: -55px 0 0 2px;
				    padding-left: 70px;
				    padding-top: 5px;
				    font-size: 1em;
				    font-weight: bolder;
					li {
						z-index: -1;
    					border-radius: 0%;
    					border: none;
						color: $white;
						display: inline-block;
						cursor: pointer;
						margin: 1px 0;
						padding-left: 25px;
						width: 180px;
    					text-align: left;

						i {
							font-size: 2em;
							margin-right: 30px;
						}
					}
				}
			}
		}
		
	}
}