<template>
  <aside class="menu" role="navigation">    
      <ul>
        <li>
          <a><i class="fa fa-gift"></i></a>
          <ul class="submenu">
            <li><a route-href="route: exchange-new">New <i class="pull-right fa fa-plus"></i></a></li>
            <li><a route-href="route: exchange-ongoing">Ongoing <i class="pull-right fa fa-gift"></i></a></li>
            <li><a route-href="route: exchange-done">Done <i class="pull-right fa fa-check"></i></a></li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-users"></i></a>
          <ul class="submenu">
            <li><a route-href="route: user-invite">Invite <i class="pull-right fa fa-user-plus"></i></a></li>
            <li><a route-href="route: user-giftees">Giftees <i class="pull-right fa fa-user"></i></a></li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-cogs"></i></a>
          <ul class="submenu">
            <li><a route-href="route: user-profile">Profile<i class="pull-right fa fa-cog"></i></a></li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-power-off"></i></a>
          <ul class="submenu">
            <li>Sign Out<i class="pull-right fa fa-sign-out"></i></li>
          </ul>
        </li>
      </ul>
  </aside>
</template>