@import './common/styles/variables.scss';
@import './common/styles/modifiers.scss';

.navbar {
	background-color: $red;	
	padding: 0;
	margin: 0 0;	
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	a {
		color: $white;
	}
	
	.navbar-brand {
  		font-family: $font-family-handwritten, sans-serif;
  		font-size: 3em;
  		text-align: center;
	}
}

@media (min-width: $break-large) {
	$navbar-height: 5em;

	@mixin flyout() {
	    position: absolute;
	    display: none;
	    margin: 30px -105px 0 -450px;
	    padding-left: 0;
	    font-size: 1em;
	    background-color: $white-red;
	    padding: 8px;
		li {
		    color: $black;
		    display: inherit;
		    cursor: pointer;
		    padding: 25px;
		    width: 500px;
		    text-align: left;
		    margin-top: 8px;
	    	background-color: $real-white;
	    	transition: all 0.1s linear;
	    	font-size: 1.05em;
	    	@include shadows();
	    	&:first-child {
		    	margin-top: 10px;
	    	}
			&:hover {
	    		transition: all 0.1s linear;
				color: $real-white;
				background-color: $red;
				i {					
					color: $real-white;
				}
			}	    

			i {
				font-size: 2em;
				margin-right: 30px;
			}
		}
	}

	.navbar {
		background-color: $red;
		clear: none;
		top: 3%;
		padding: 0;
		height: $navbar-height;

		.navbar-brand {	
			margin-left: 152px;
			padding-left: 5px;
			padding-right: 15px;
			&:hover {
				background-color: $lightest-red;
			}
		}
		.navbar-menu {
			color: $white;
			height: 20%;
			.navbar-search{
				background-color: $lightest-red;
				padding: 10px;
				display:block;
				float: left;
				margin-top: 1em;
				margin-right: 75px;
				input[type="text"]{
					border: none;
					font-size:1em;
					background-color: transparent;
					width: 200px;
					border-bottom: 0px $white solid;
					transition: width 0.2s linear, border 0.1s linear;
					&:hover {
						transition: border 0.1s linear;
						border-bottom: 3px $white solid;
					}
					&:focus {
						transition: width 0.2s linear;
						border-bottom: 3px $white solid;
						outline: none;
						width: 400px;
						&~ul {
							display: table;
							li {								
								&:hover {							
									i {
										color: $white;
									}
								}
							}
						}
					}
				}
				ul {
					@include flyout();
					z-index: -1;
					margin-left: -10px;
					margin-top: 0px;
					li {
						width: 431px;
					}
					i {
						color: $red;
					}
				}
			}
			.navbar-user{
				display: block;
				float: left;
				cursor: pointer;
				font-size: 1em;
				margin-top: 1em;
				img {
					border-color: transparent;
					border-radius: 100%;
					width: 50px;
					height: 50px;
					margin-right: 10px;
				}
				strong{
					box-shadow: inset 0 0px 0 0 transparent;
					transition: box-shadow 0.15s ease-out;
					padding-bottom: 5px;
				}
				&:hover {
					strong{
						box-shadow: inset 0 -3px 0 0 $white;
						transition: box-shadow 0.15s ease-in;
					}
				}
			}
			ul.navbar-alerts{
				display: table;	
				float: right;
				height: $navbar-height;
				li {
					display:table-cell;
					cursor: pointer;
					padding: $navbar-height/3 $navbar-height/2 0em $navbar-height/2;
					&:hover {
		    			background-color: $white-red;
						ul{
							display: table;
							margin-top: 28px;
						}
						i{
							color: $red;
						}
					}
					ul{
						@include flyout();
					}
				}	
			}
			i {
				color: $white;
				font-size: 1.5em;
			}
		}
	}
}

