<template bindable="router">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" route-href="route: welcome">
        <span>${router.title}</span>
      </a>
      <div class="navbar-menu pull-right">
        <span class="navbar-search">
          <input type="text" />
          <i class="fa fa-search"></i>
          <ul>
            <li>
              <i class="fa fa-user"></i> Something something
            </li>
            <li>
              <i class="fa fa-gift"></i> Something something
            </li>
          </ul>
        </span>
        <span class="navbar-user">
          <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
          <strong>Victor Arbues Mallada</strong>
        </span>        
        <ul class="navbar-alerts">
          <li>
            <i class="fa fa-bell"></i>
            <ul>
              <li>
                <i class="fa fa-user"></i> Something something
              </li>
              <li>
                <i class="fa fa-gift"></i> Something something
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
