@import './common/styles/modifiers.scss';
@import './common/styles/variables.scss';

.welcome {
	.login {
		background-color: $lightest-green;
		border-bottom: 0.5em solid $darker-green;
		width: 400px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		ul{
			margin: 0;
			padding: 10px 5px;
			width: 100%;
			display: table; 
			table-layout: fixed;
			li{
				display: table-cell; 
				text-align: center;
				i {
					font-size: 4em;
					color: $white;
					cursor: pointer;
					border-bottom: 5px solid transparent;
					transition: all 0.3s;
					&:hover {
						border-color: $white;
					}
					&:active {
						color: $darker-green;
					}
				}
			}
		}
	}
}