<template>
  <section class="au-animate welcome">
    <div class="col-md-6">
      <h1 class="hand-written">We know why you are here...</h2>
      <p class="vertical-space">
          It's again this time of the year and, even though you did everything to avoid it, <strong>Sally</strong> from sales came up with the brilliant idea of going through another unnecessary <strong>Secret Santa</strong> once again.
        <h3 class="hand-written vertical-space pull-right">
          Or maybe you are into this <small>...who are we to <u>judge you</u>!</small>
        </h3>
      </p>
      <p class="triple-vertical-space">
          In any case, please feel free to use our website to fulfill all your <strong>gift-exchanging</strong> needs.
      </p>
    </div>

    <div class="col-md-3 col-md-offset-2">
      <h1 class="hand-written">Sign In</h1>
      <p class="vertical-space">
        Use the <strong>social account</strong> of your choice to log in.
        <div class="login vertical-space">
          <ul>
            <li><i class="fa fa-google"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-linkedin"></i></li>
          </ul>
        </div>
      </p>
    </div>
  </section>
</template>
