@import '../styles/variables.scss';
@import '../styles/modifiers.scss';


.assignments {
    background-color: $lighter-green;
    padding: 20px;
    border-bottom: 0.5em solid $darker-green;
    margin: 0px;
    .search-add-user {
        @include search(8px, 23px);
    }
    .search-user {
        @include search(-8px, 7px);
    }
    .options {  
        float: right;
        margin: 0 5px;
        font-size: 0.9em;
        padding: 8px;
        transition: all 0.3s; 
        i {
            cursor: pointer;
            border: 3px solid transparent;
            padding: 8px;
            position: relative;
            border-radius: 100%;
            top: -10px;
            &:hover {
                border: 3px solid $real-white;
            }
            &:active {
                color: $darker-green;
            }
        }
    }
    .users {
        $image-size: 50px;
        ul {
            width: 48%;
            background: transparent;
            float: left;
            margin: 20px 1%;
            color: $darker-green;
            padding: 0;
            li {
                padding: 20px;
                margin: 10px 0;
                @include shadows($darker-green, 26px);
                background-color: $white-green;
                cursor: pointer;
                img {
                    width: $image-size;
                    height: $image-size;
                    margin-right: 20px;
                    border-radius: 8px;
                }
                &:hover {
                    background-color: $darker-green;
                    color: $white-green;
                }
            }
        }
        .givers
        {
            li {
                padding: 0;
                background: repeating-linear-gradient(
                  45deg,
                  $white-green,
                  $white-green 20px,
                  $real-white 20px,
                  $real-white 40px
                );
                &:hover {
                    color: $real-white;
                    background: repeating-linear-gradient(
                      45deg,
                      $green,
                      $green 20px,
                      $darker-green 20px,
                      $darker-green 40px
                    );
                    .giver-options {
                        display: block;
                        z-index: 9002;
                    }
                }
                img {
                    margin: 20px;
                }
                .giver-options {
                    display: none;
                    position: relative;
                    witdh: 100%;
                    ul {
                        position: absolute;

                        display: block;
                        font-size: 0.5em;
                        background-color: $real-white;
                        width: 100%;
                        margin: 0;
                        @include shadows($darker-green, 26px);
                        li {
                            display: inline-block;
                            float: left;
                            background: none;
                            box-shadow: none;
                            width: 50%;
                            margin: 0 auto;
                            transition: all 0.1s;
                            padding: 20px;
                            &:hover {
                                color: $darker-green;
                                @include shadows($darker-green, 10px);
                            }
                        }
                    }
                }
            }            
        }
        .receivers
        {
            li {                        
                margin: 5px 0;
                padding: 0;
                background-color: transparent;                
                &:hover {
                    background-color: transparent;
                }
                box-shadow: none;             
                ul {
                    width: 100%;
                    margin: 0;
                    padding:0;
                    li {       
                        background: repeating-linear-gradient(
                          135deg,
                          $white-green,
                          $white-green 20px,
                          $real-white 20px,
                          $real-white 40px
                        );
                        @include shadows($darker-green, 26px);
                        div {
                            color: $darker-green;                                        
                            transition: none;
                            &.row {                                        
                                transition: none;
                                padding: 15px 20px;
                                ul {
                                    float: left;
                                    height: 0;
                                    transform: scaleY(0);    
                                    transform-origin: top;
                                    transition: none;
                                    transition-delay: 0;
                                    @include shadows($darker-green, 26px);
                                    position: relative;
                                    z-index: 9001;
                                    li {    
                                        padding: 5px 0;
                                        margin:0;
                                        background: $lightest-green;
                                        color: $real-white;
                                        display: inline-block;
                                        width: 100%;
                                        box-shadow: none;
                                    }
                                }
                            }
                            font-size: 1em;
                            padding: 5px 10px;
                            color: $darker-green;
                            [contenteditable]{
                                outline: none;
                                padding-bottom: 3px;
                                &:focus, :hover {
                                    border-bottom: 3px solid $real-white;
                                }
                            }  
                        }
                        &:hover {
                            color: $real-white;
                            padding: 10px;
                            background: repeating-linear-gradient(
                              135deg,
                              $green,
                              $green 20px,
                              $darker-green 20px,
                              $darker-green 40px
                            );
                            .giver-options {
                                display: block;
                            }        
                            transition: all 0.3s;
                            transition-property: padding-left, padding-right;  
                            div {  
                                &.row {
                                    margin: 0;
                                    padding: 5px 0;
                                    background-color: $green;
                                    @include shadows($black, 26px);                                                                            
                                    &:hover {
                                        background: $green;
                                        color: $real-white;
                                    }
                                    ul {
                                        transform: scaleY(1);
                                        transition: transform 0.26s ease;
                                        transition-delay: 0.4s;
                                        li {                                                         
                                            &:hover {
                                                background: $green;
                                            }
                                            div {
                                                color: $real-white;
                                                padding: auto 5px;
                                            }
                                            &:first-child {
                                                border-top: 3px solid $lighter-green;
                                                margin-top: 5px;
                                            }
                                            border-top: 1px solid $lighter-green;
                                        }
                                    }
                                    div {
                                        padding: auto 10px;
                                    }
                                }
                                color: $real-white;                       
                            }
                            li {
                                outline: none;
                                background: repeating-linear-gradient(
                                  135deg,
                                  $white-green,
                                  $white-green 20px,
                                  $real-white 20px,
                                  $real-white 40px
                                );
                            }
                        }
                    }
                }  
            }
        }
    }
    .pagination {
        max-width: 90%;
        right:  50%;
        position: relative;
        margin: 0 5px;
        ul {
            margin: 0;
            display: block;
            padding: 0;
            float: left;
            li {
                display: inline-block;
                margin-left: 20px;
                cursor: pointer;
                border-bottom: 3px solid transparent;
                transition: all 0.3s;
                &:hover {
                    border-bottom-color: $real-white;
                }
                &:active {
                    color: $darker-green;
                }
            }
        }
    }
}