@import '../styles/variables.scss';
@import '../styles/modifiers.scss';

.exchange-list {	
	padding: 20px 40px;
	background-color: $real-white;
	box-shadow: 0px 0px 4px 2px rgba(10,9,10,0.28);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	.exchange {
		cursor: pointer;
		border: 5px solid transparent;
		border-radius: 15%;
		transition: border-color 0.3s;
		margin: 20px 15px;
		padding: 20px;
		float:left;
		width: 220px;
		.gift-box {
			width: 150px;
			height: 125px;
			margin: 20px auto 10px;
			position: relative;
			.bottom
			{
				.box {
				    top: -30px;
	    			position: relative;
				}
				.box-lace {
				    position: relative;
				    left: 55px;
				    top: 44px;
				}
				.box-giftee {
				    top: -90px;
				    position: relative;
				    left: 97px;
				    z-index: 9002;
				    width: 50px;
				    line-height: 12px;
				    padding: 3px;
				    font-weight: bolder;
				    text-align: center;
				    font-size: 13px;
				    border-radius: 8px;
					span
					{					    
						img {
							width: 40px;
						    height: 40px;
						    border: 4px solid $lighter-red;
				    		border-radius: 100%;
						}
					}
				}
				.box-date {
			        top: -132px;
				    position: relative;
				    left: 8px;
				    z-index: 9002;
				    width: 40px;
				    line-height: 12px;
				    padding: 3px;
				    font-weight: bolder;
				    text-align: center;
				    font-size: 13px;
				}
			}
			.top {			
				transition-delay: 0.7s;	
				transition: all 0.3s ease;	
				transform-style: flat;
				.lid {
			        position: relative;
				    top: -360px;
				    left: -10px;
					z-index: 9003;
				}
				.lid-lace {
				    position: relative;
					left: 13px;
					top: -309px;
					z-index: 9004;
				}
				.price-tag {
				    top: -217px;
				    position: relative;
				    z-index: 9005;
				    padding: 2px;
				    display: inline-block;
				    left: 107px;
				    font-weight: bolder;
				}
			}
		}		
		.exchange-users {
		    position: relative;
			top: -100px;
			left: 10px;
			max-height: 0;
			max-width: 0;
			float: left;
			li {
				transition: none;
				position: relative;
				display: none;
				z-index: -1;
				img {
				    border: solid 5px $darker-green;
					border-radius: 100%;
					width: 50px;
					height: 50px;
				}
				&:nth-child(1){
					display: block;
					left: 10px;
				}
				&:nth-child(2){
					display: block;	
					left: 50px;
					bottom: 50px;			
				}
				&:nth-child(3){
					display: block;
					right: 30px;
					bottom: 100px;
				}
				.exchange-user-name {
					display: none;
				}
			}
		}
		.exchange-name {
			text-align: center;
			color: $green;
			font-weight: bolder;
		}
		.exchange-options{
	        position: relative;
		    top: -110px;
		    left: 34px;
		    z-index: 9004;
		    color: $white-red;
		    height: 0;
		    display: none;
			li {
			    margin-bottom: 5px;
			    max-width: 30px;
				i {
					font-size: 25px;
				}
				.exchange-wish {
					transition: all 0.3s ease-in;
					transition-property: width, height;
					width: 0;
					height: 0;
					* {
						transition-delay: 0s;
						visibility: hidden;
					}
				}
			}
		}
		&:hover, .selected {
			border-color: $green;
			.gift-box {
				.top {
					transform: rotate(-15deg) translateX(55px) translateY(-50px);
				}	
				.bottom {
					.box {
					    z-index: 9001;
					}
					.box-lace {
						z-index: 9001;
					}
				}			
			}			
			.exchange-options{
				display: block;	
				li {
					&:hover {
						color: $darker-red;							
						.exchange-wish {
							transition: all 0.3s ease-in;
							transition-property: width, height;	
						    width: 220px;
						    height: 230px;
						    position: relative;
						    background: $real-white;
						    bottom: 153px;
						    right: 99px;
						    opacity: 0.9;
						    border-radius: 30px;
						    padding: 15px;
						    *{
						    	visibility: visible;						    	
								transition-delay: 0.3s;
								color: $red;
								background: white;
						    }
				    		i {
				    			position: absolute;
				    			right: 15px;
				    			top: 15px;
				    			padding: 5px;
				    		}
				    		.exchange-wish-list {
	    			            width: 160px;
							    margin-left: 10px;
							    height: 220px;
							    position: relative;
							    border-left: 5px double $green;
							    top: -53px;
							    padding: 60px 20px 10px 30px;
							    z-index: -1;
							    background: repeating-linear-gradient(180deg, transparent, transparent 37px, #1abc9c 3px, $green 40px);
							    [contenteditable] {
						    	    background: transparent;
								    display: block;
								    position: relative;
								    top: -12px;
								    left: -23px;
								    width: 150px;
								    max-width: 150px;
								    height: 150px;
								    max-height: 150px;
								    line-height: 40px;
								    outline: none;
								    overflow: hidden;
							    }
				    		}
						}			
					}
				}				
			}
			.exchange-users {
				@keyframes exchangeUsersfadein {
				    0% { z-index: 9000; opacity: 0; }
				    20% { opacity: 1; }
				    100% { z-index: 9000; }
				}
				li {	
					transition: all 0.5s ease;
					transition-delay: 0s;					
					&:nth-child(1){
						z-index: 9000;
						transform: translateY(-45px);
    					animation: exchangeUsersfadein 0.5s ease-in alternate;	
					}
					&:nth-child(2){
						z-index: 9000;
						transform: translateY(-37px);	
    					animation: exchangeUsersfadein 0.5s ease-in alternate;	
					}
					&:nth-child(3){
						z-index: 9000;
						transform: translateY(-33px);
    					animation: exchangeUsersfadein 0.5s ease-in alternate;	
					}					
				}
				@keyframes exchangeUsersHoverfadein {
				    0% { opacity: 0; z-index:-1; }
				    20% { z-index: 9010; }
				    100% { opacity: 1; }
				}
				&:hover {
					top: -190px;
					left: -30px;
					position: relative;
					display: inline-block;
					min-width: 250px;
					padding: 0 20px;	
					li
					{				
    					animation: exchangeUsersHoverfadein 0.4s ease-in alternate;	
						margin: 0 0 10px 10px;
			            transform: none;
			            transition: none;
			            top: 0;		
			            left: 0;
			            display: block;	
			            float: left;	
			            z-index: 9010;	
						&:hover {
							.exchange-user-name {
							    position: absolute;
							    display: inline-block;
							    bottom: -10px;
							    right: -10px;
							    width: 200px;
							    span{
							    	font-weight: bolder;
							    	opacity: 0.9;
							    	border-radius: 50px;
							    	padding: 5px 10px;
							    	background: $black;
							    	text-align: center;
							    	display: inline;
    								float: right;
							    }
							}
						}
					}
				}
			}
		}
	}
}