@import '../styles/variables.scss';
@import '../styles/modifiers.scss';

.invite-add {
	padding: 10px 20px;
	background-color: $real-white;
	box-shadow: 0px 0px 4px 2px rgba(10,9,10,0.14);
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.3em;
	i {
		float: right;
    	margin-top: 5px;
		color: $green;
		cursor: pointer;
	}
	input[type="text"] {
		border: none;
		outline: none;
		color: $green;
		font-weight: bold;
		width: 95%;
	}
	&:hover {		
		box-shadow: 0px 0px 4px 2px rgba(10,9,10,0.28);
	}
}