<template>
  <section class="au-animate new">
  	<div class="col-md-5">
		<h1 class="hand-written">
			<span contenteditable class="editable">New Exchange</span>
			<i class="fa fa-pencil"></i>
		</h1>
	  	<h2 class="hand-written vertical-space">
	  		<span contenteditable class="editable">Hi, buddies</span>
			<i class="fa fa-pencil"></i>
	  	</h2>
	  	<div class="some-vertical-space">
	  		<span contenteditable class="editable">It would be rad if we enjoy our companionship through the treat that is gifting away sweet goodies and, most importantly, receiving them.</span>
			<i class="fa fa-pencil"></i>
	  	</div>
		<div>
			<span contenteditable class="editable">I was thinking that we could spend something around</span> 
			<i class="fa fa-pencil"></i>	
			<span class="select"> 
				<ul>
					<li contenteditable>15</li>
					<li>5</li>
					<li>10</li>
					<li>15</li>
					<li>20</li>
					<li>30</li>
					<li>50</li>
					<li>100</li>
					<li>200</li>
					<li>500</li>
				</ul> 
				<span>15</span>
			</span>	
			<span class="select"> 
				<ul>
					<li contenteditable>Pounds</li>
					<li>Dollars</li>
					<li>Pounds</li>
					<li>Euros</li>
				</ul> 
				<span>Pounds</span>
			</span>.
		</div>
		<div>
			<span contenteditable class="editable">The date the exchange will take place will be the</span>		
			<i class="fa fa-pencil"></i>	
			<span class="select"> 
				<ul>
					<li contenteditable>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
				</ul> 
				<span>24</span>
			</span>
			 of 	
			<span class="select"> 
				<ul>
					<li contenteditable>December</li>
					<li>January</li>
					<li>February</li>
					<li>March</li>
					<li>April</li>
					<li>May</li>
					<li>June</li>
					<li>July</li>
					<li>August</li>
					<li>September</li>
					<li>October</li>
					<li>November</li>
					<li>December</li>
				</ul>
				<span>December</span>
			</span>,	
			<span class="select"> 
				<ul>
					<li contenteditable>2016</li>
					<li>2016</li>
					<li>2017</li>
					<li>2018</li>
					<li>2019</li>
				</ul>
				<span>2016</span>
			</span>.
		</div>
		<h2 class="hand-written double-vertical-space pull-right">
			<span contenteditable class="editable">Cheerio!</span>
			<i class="fa fa-pencil"></i>
		</h2>
	</div>
	<div class="col-md-6 col-md-offset-1 vertical-space">
		<div class="assignments">
			<div class="row">
				<div class="col-md-6">
					<div class="search-add-user">
			          <input type="text" />
			          <ul>
			            <li>
			              <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> Something something
			            </li>
			            <li>
			              <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> Something something
			            </li>
			            <li>
			              <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> Something something
			            </li>
			          </ul>
			          <i class="fa fa-plus"></i>
					</div>
				</div>
				<div class="col-md-6">
					<div class="search-user">
			          <input type="text" />
			          <i class="fa fa-search"></i>
					</div>
				</div>
			</div>
			<div class="users">
				<ul class="givers">
					<li>
						<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> User 1
						<div class="giver-options">
							<ul>
								<li>
									<i class="fa fa-user"></i>
									Make admin
								</li>
								<li>
									<i class="fa fa-trash"></i>
									Remove
								</li>
							</ul>
						</div>
					</li>
					<li><img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> User 1
						<div class="giver-options">
							<ul>
								<li>
									<i class="fa fa-user"></i>
									Make admin
								</li>
								<li>
									<i class="fa fa-trash"></i>
									Remove
								</li>
							</ul>
						</div>
					</li>
					<li><img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> User 1
						<div class="giver-options">
							<ul>
								<li>
									<i class="fa fa-user"></i>
									Make admin
								</li>
								<li>
									<i class="fa fa-trash"></i>
									Remove
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<ul class="receivers">
					<li>
						<ul>
							<li>
								<div class="row">
									<div class="col-md-2">
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
									</div>
									<div class="col-md-offset-1 col-md-9">
										<span contenteditable>User 1</span>
									</div>
									<ul>
										<li>											
											<div class="col-md-2">
												<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
											</div>
											<div class="col-md-offset-3">
												<span>User 1</span>
											</div>
										</li>
										<li>											
											<div class="col-md-2">
												<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
											</div>
											<div class="col-md-offset-3">
												<span>User 2</span>
											</div>
										</li>
										<li>											
											<div class="col-md-2">
												<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
											</div>
											<div class="col-md-offset-3">
												<span>User 3</span>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
									</div>
									<div class="col-xs-offset-1 col-xs-9">
										<span contenteditable>User 1</span>
									</div>
									<ul>
										<li>											
											<div class="col-xs-2">
												<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
											</div>
											<div class="col-xs-offset-1 col-xs-9">
												<span>User 1</span>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
									</div>
									<div class="col-xs-offset-1 col-xs-9">
										<span contenteditable>User 1</span>
									</div>
									<ul>
										<li>											
											<div class="col-xs-2">
												<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"> 
											</div>
											<div class="col-xs-offset-1 col-xs-9">
												<span>User 1</span>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="pagination">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</div>
			<div class="options">
          		<i class="fa fa-random"></i>
          	</div>
		</div>
		<div class="button-red col-md-3 pull-right vertical-space hand-written ">
			<i class="fa fa-gift"></i>
			<span>
				Create
			</span>
		</div>
	</div>
  </section>
</template>