<template>
  <section class="au-animate ongoing">
  	<div class="row">
  		<div class="col-md-12">
			<h1 class="hand-written">
	  			Ongoing Exchanges
	  		</h1>

	  		<div class="vertical-space search">
				<input type="text" placeholder="filter current exchanges">
				<i class="fa fa-search"></i>
	  		</div>

	  		<ul class="some-vertical-space exchange-list row">
				<li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li><li>
					<div class="exchange">
						<div class="gift-box">							
							<div class="bottom">
								<div class="box-lace">
									<object width="40" type="image/svg+xml" data="/images/common/styles/images/box-lace.svg">
									</object>
								</div>
								<div class="box">
									<object width="150" type="image/svg+xml" data="/images/common/styles/images/box.svg">
									</object>
								</div>
								<div class="box-giftee">
									<span>
										<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
									</span>
								</div>
								<div class="box-date">
									<span>
										25th Dec 2016
									</span>
								</div>
							</div>
							<div class="top">
								<div class="price-tag">
									<span>
										£25
									</span>
								</div>
								<div class="lid-lace">
									<object width="125" type="image/svg+xml" data="/images/common/styles/images/lid-lace.svg">
									</object>
								</div>
								<div class="lid">
									<object width="170" type="image/svg+xml" data="/images/common/styles/images/lid.svg">
									</object>
								</div>
							</div>
						</div>
						<div class="exchange-name">
							New Exchange
						</div>						
						<ul class="exchange-users">
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<div class="exchange-user-name">
									<span>
										John Doe
									</span>
								</div>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
							<li>
								<img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.png"/>
							</li>
						</ul>						
						<ul class="exchange-options">
							<li>
								<i class="fa fa-gear"></i>
							</li>
							<li>
								<i class="fa fa-pencil-square-o"></i>
								<div class="exchange-wish">
									<i class="fa fa-times">
									</i>
									<h3 class="hand-written">
										I wish...
									</h3>
									<div class="exchange-wish-list">
										<span contenteditable class="hand-written" spellcheck="false"> 
											Anything, really!
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
	  		</ul>
		</div>
  	</div>
  </section>
</template>