﻿<!DOCTYPE html>
<html>
  <head>
	<link rel="shortcut icon" href="/images/common/styles/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/common/styles/images/favicon.ico" type="image/x-icon">
	<meta name="theme-color" content="#F64747">
  </head>
	<body>
		<div aurelia-app="main">
		    <script src="jspm_packages/system.js"></script>
		    <script src="config.js"></script>
		    <script>
		        System.import('aurelia-bootstrapper');
		    </script>
		</div>
	</body>
</html>