@import './variables.scss';

.h {	
	color: $white;
	small {
		font-size: 0.7em;
	}
}

h1 {
	@extend .h;
	font-size: 4em;
}

h2 {
	@extend .h;
	font-size: 3em;
}

h3 {
	@extend .h;
	font-size: 2em;
}

h4 {
	@extend .h;
	font-size: 1.5em;
}