@import './variables.scss';

.hand-written {
	font-family: $font-family-handwritten, sans-serif;
}

.vertical-space{
	margin-top: 50px;
}

.some-vertical-space{
	margin-top: 20px;
}

.double-vertical-space{
	margin-top: 100px;
}

.triple-vertical-space{
	margin-top: 150px;
}

@mixin box($background-color, $padding) {
    background: $background-color;
    background:
        linear-gradient(45deg,  transparent $padding, $background-color $padding),
        linear-gradient(135deg, transparent $padding, $background-color $padding),
        linear-gradient(225deg, transparent $padding, $background-color $padding),
        linear-gradient(315deg, transparent $padding, $background-color $padding);
    background-position:
        bottom left,
        top left,
        top right,
        bottom right;
    background-size:51%;
    background-repeat:no-repeat;
    padding: $padding;
}

@mixin ribbon($background-color) {

    background: $background-color;
    background:
        linear-gradient(225deg, $background-color 20px, $background-color 20px),
        linear-gradient(225deg, $background-color 20px, $background-color 20px),
        linear-gradient(315deg, transparent 20px, $background-color 20px),
        linear-gradient(225deg, transparent 20px, $background-color 20px);
    background-position:
        bottom left,
        top left,
        top right,
        bottom right;
    background-size:51%;
    background-repeat:no-repeat;
}

@mixin shadows($color: $grey, $shadow: 13px){
    -webkit-box-shadow: 0px 0px $shadow 0px $color;
    -moz-box-shadow: 0px 0px $shadow 0px $color;
    box-shadow: 0px 0px $shadow 0px $color;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
    40% {
    transform: translateY(-5px);
  }
    60% {
    transform: translateY(-2px);
  }
}

.button-red {
    background: $red;
    border-bottom: 8px solid $darker-red;
    padding: 10px 20px;
    font-size: 1.5em !important;
    font-weight: bolder;
    cursor: pointer;
    transition: background 0.3s;
    i {
        font-size: 1.5em;
        margin-right: 10px;
    }
    &:hover{
        background-color: $lighter-red;
        i {            
            animation: bounce 1s 1;
        }
    }    
    &:active {
        background: $darker-red;
        i {            
            animation: bounce 1s 1;
        }
    }    
}

.hidden {
    visible: hidden;
}
.visible {
    visible: visible;
}

.flat {
    background-color: transparent;
    border: none;
    border-bottom: transparent 1px dashed;
    box-sizing:border-box;
    width: 100%;
    height: auto;
    i {
        visibility: none;
    }
    &:hover {
        text-decoration: underlined;
        i {
            visibility: visible;
        }
    }
    &:focus {
        border: none;
        border-bottom: white 1px dashed;
        outline: none;
    }
}

.select
{
    $border: 4px;

    cursor: default;
    span{
        border-bottom: $border solid $white;
    }
    [contenteditable]
    {
        margin-top: -$border;
        border: $border solid transparent;
        border-bottom-color: $white;
        outline: none;
    }
    &:hover, &:active {
        color: $green;
        [contenteditable]
        {
            border: none;
            margin-top: 0;
        }
        ul {
            display: inline-block;
            li{
                background-color: $white;  
                display: block;
            }
        }
    }
    ul {
        max-height: 200px;
        padding: 0;
        overflow: hidden;
        position: absolute;
        border: none;
        text-align: center;
        display: none;
        overflow-y: scroll;
        z-index: 9200;
        &::-webkit-scrollbar{
            display: none;
        }
        @include shadows($black, 5px);
        li{
            z-index: 9201;
            padding: 0 10px;
            text-align: center;
            margin: 0;
            display: block;
            position: relative;
            &:hover {
                background-color: $red;
                color: $white;
            }
        }
    }
}

.editable{
    + i {
        z-index: 9001;
        clear: both;
        top: -20px;
        left: 10px;
        margin-left: -20px;
        position: relative;
        padding-bottom: 3px;
        font-size: 30px;
        visibility: hidden;
    }
    &:hover + i {
        visibility: visible;
    }
    &:active,&:focus {
        outline: none;
        border: none;
        border-bottom: 2px $white dashed;        
    }
}

@mixin search($margin-left: -22px, $submenu-left: -7px)
{
    $image-size: 40px;

    width: 100%;
    font-size: 0.7em;
    display: inline-block;
    border-bottom: 3px solid $lightest-green;
    margin-left: $margin-left;
    input[type="text"] {
        border: none;
        outline: none;
        background-color: transparent;
        transition: all 0.1s linear;
        padding: 0 5px;
        width: 90%;
        &:focus {
            + ul {
                display: inline-block;
            }
        }
        + ul {
            background-color: $white-green;
            display: none;
            position: absolute;
            left: $submenu-left;
            padding: 0 10px;
            top: 48px;
            width: 92%;
            @include shadows($darker-green, 26px);
            transition: all 0.3s;
            font-size: 0.8em;
            li {
                @include shadows($grey, 26px);
                color: $darker-green;
                cursor: pointer;
                background-color: $real-white;
                margin: 10px 0;
                padding: 10px;                
                @include shadows($green, 16px);
                img {
                    width: $image-size;
                    height: $image-size;
                    margin-right: 20px;
                    border-radius: 8px;
                }
                &:hover {                        
                    background-color: $green;
                    color: $real-white;
                }
            }
        }
    }
    i {
        cursor: pointer;
    }
}

