@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Quicksand:700';
@import 'https://fonts.googleapis.com/css?family=Pacifico';

$white: #ECF0F1;
$real-white: #FFFFFF;

$red: #F64747;
$lightest-red: #FF7470;
$lighter-red: #EB4844;
$darker-red: #A60F0B;
$white-red: #FFF3F3;

$green: #1abc9c;
$lightest-green: #66D8C2;
$lighter-green: #3CC8AD;
$darker-green: #007E65;
$white-green: #CAF9F0;

$grey: #D2D7D3;
$grey2: #B6ABA9;

$black: #000000;

@font-face { font-family: Quicksand; src: url('https://fonts.googleapis.com/css?family=Quicksand'); } 
@font-face { font-family: Quicksand; font-weight: bold; src: url('https://fonts.googleapis.com/css?family=Quicksand:700'); }
@font-face { font-family: pacifico; src: url('https://fonts.googleapis.com/css?family=Pacifico'); } 

$font-family: 'Quicksand', sans-serif;
$font-family-handwritten: 'pacifico';

$break-small: 320px;
$break-large: 1200px;

$radius: 8px;